@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #0F0F0F;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* CSS for react-markdown component with an outer <div> with id="markdown" */

#markdown h1 {
  @apply text-3xl font-bold mb-3 pb-2 border-b-2 border-gray-500;
}

#markdown h2 {
  @apply text-2xl font-bold mb-3;
}

#markdown h3 {
  @apply text-xl font-bold mb-2;
}

#markdown h4 {
  @apply text-lg font-bold mb-2;
}

#markdown h5 {
  @apply text-base font-bold mb-1;
}

#markdown h6 {
  @apply text-sm font-bold mb-1;
}

#markdown p {
  @apply text-base mb-1;
}

#markdown a {
  @apply text-blue-400;
}

#markdown code {
  @apply bg-gray-900 bg-opacity-50 px-1 rounded-md;
  padding-top: 2px;
}

#markdown pre code {
  @apply bg-transparent px-0 rounded-none;
  padding-top: 0px;
}

#markdown pre {
  @apply bg-gray-900 bg-opacity-50 p-2 whitespace-pre-wrap;
}

#markdown blockquote {
  @apply text-lg mb-2 border-l-4 border-gray-500 pl-3;
}

#markdown ul {
  @apply text-base mb-2 list-disc;
}

#markdown ol {
  @apply text-base mb-2 list-decimal;
}

#markdown li {
  @apply ml-6;
}

#markdown .task-list-item {
  @apply list-none ml-2;
}

#markdown table {
  @apply border-collapse mb-2;
}

#markdown th, #markdown td {
  @apply border-gray-500 py-1 px-2;
  border-width: 2px;
}

#markdown img {
  width: fit-content;
}